{{ define "main" }}
    <h2>{{ .Title }}</h2>

    <input type="search" id="searchField">
    <button id="searchButton">Search</button>
    <input type="checkbox" id="allwords">
    <label for="allwords">Require all words</label>

    <div id="output">
        <p>Wating for search input</p>
    </div>

    {{ $lunr := resources.Get "js/lunr.js" }}
    {{ $axios := resources.Get "js/axios.js" }}
    {{ $search := resources.Get "js/search.js" }}
    {{ $libs := slice $lunr $axios $search }}
    {{ $js := $libs | resources.Concat "js/apps.js" | minify | fingerprint }}
    <script src="{{ $js.RelPermalink }}"></script>
{{ end }}